*{
    --light-gray: #f8f9fa;
    --dark-gray: #c5c5c5;
    --gray-gray: #c9c9c9;
    --darker-gray: #6c757d;
    --darkest-gray: #333;
    --yellow: #fab528;
    --black: #000;
    --white: #fff;
    --cream: #ccc;
    --maroon: #cb4321;
    --orange: #ff8c46;
    --blue: #09f;
    --grey: #808080;
    --bar-grey: #e9ecef;
    --bg-grey: #f3f3f3;
    --green: #008000;
    --footer-text: #555;
    --border-clr: #dee2e6;
}

body{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
}

.logo-img{
    width: 150px;
}

.search-form {
    display: flex;
    align-items: flex-end;
    background-color: var(--light-gray);
    padding: 8px;
    width: 500px;
}


.category-dropdown {
    flex: 2;
    margin-right: 40px;
    opacity: 0;
}

.form-control{
    border: 0px;
    background-color: var(--light-gray);
    border-radius: 0px;
    font-size: 14px;
    padding: 0.375rem 1.25rem;
}

.form-control:focus{
    background-color: transparent;
    box-shadow: none;
    border-color: var(--dark-gray);
}

.search-input {
    flex: 3;
    border-left: 1px solid var(--dark-gray);
    background-color: transparent !important;

}

.search-input:focus {
    background-color: transparent; 
}

.search-button{
    border: 0;
    background-color: var(--light-gray);
}
.search-icon .material-symbols-outlined{
    color: var(--dark-gray);
    font-weight: 200;
}

.category-parent{
    position: relative;
}
.expand-button{
    position: absolute;
    bottom: 15%;
    left: 8%;
    cursor: pointer;
}

.expand-button .material-symbols-outlined{
    font-size: 18px;
}

.expand-button span{
    font-size: 12px;
}

.nav-item{
    padding: 10px;
}

.header-icon{
    color: var(--black);
}

.nav-link{
    position: relative;
    padding-bottom: 0;
    padding-top: 18px;
}

.nav-link .material-symbols-outlined{
    font-size: 26px;
}

.header-item-counter{
    background-color: var(--yellow);
    border-radius: 3px;
    color: var(--black);
    display: block;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    min-width: 18px;
    padding: 5px 5px 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 4px;
}

body {
    font-family: Arial, sans-serif;
}

.cart-container {
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

.cart-link{
    text-decoration: none;
    color: var(--dark-gray);
}

.cart-text {
    cursor: pointer;
}

.dollar-sign{
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
}

.cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: var(--white);
    border: 1px solid var(--cream);
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.cart-dropdown a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    color: var(--darkest-gray);
}

.cart-dropdown a:hover {
    background-color: var(--white);
    transition: 0.5s;
}

.cart-container:hover .cart-dropdown {
    display: block;
    transition: 0.5s;
}

.navbar-toggler{
    border: 0;
}


.offcanvas-header{
    background-color: var(--yellow);
    flex-direction: row-reverse;
}

.btn-close{
    background-image: url(../images/back.png);
    font-size: x-large;
    color: var(--black);
}

.offcanvas-title{
    font-size: 25px;
    font-weight: 600;
}

.input-group .btn{
    background-color: var(--yellow);
    color: var(--black);
}


/*------------Secondary Nav-----------*/

.secondary-nav .navbar-nav {
    display: flex;
    align-items: center;
}

.secondary-nav .navbar-nav .nav-item .nav-link{
     padding: 3px 12px;
     font-size: 14px;
     font-weight: 600;
     color: var(--black);
     display: flex;
     align-items: center;
}

.secondary-nav .navbar-nav .nav-item{
    border-radius: 6px;
}

.ham-icon{
    padding-right: 8px;
}

.shop-dropdown{
    background-color: var(--yellow);
}

#myDropdown:hover .dropdown-menu{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s;
}

.secondary-nav .navbar-nav .nav-item .nav-link:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.secondary-nav .navbar-nav .nav-item .non-yellow-link:hover{
    color: var(--black);
}


.price-symbol{
    rotate: 90deg;
    font-size: 18px !important;
}

.expand-icon{
    font-size: 26px !important;
    font-weight: 300;
    padding-left: 2px;
}

.recently-viewed{
    padding-top: 0;
}

.recently-viewed .cart-text div{
    display: flex;
    align-items: center;
    color: var(--black);
    font-weight: 600;
}

.recycle-icon{
    font-size: 18px!important;
    padding-right: 8px;
    padding-top: 4px;
    color: var(--dark-gray);
}

.drop-cat ul{
    list-style-type: none;
    padding-left: 7px;
    font-size: 15px;
}


/*------------Hero-Section------------*/



.hero-section{
    position: relative;
}

.hero-section img{
    width: 100%;
    
}

.carousel-wrapper{
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 32%;
    left: 2%;
}

.next-div{
    position: absolute;
    left: 92%;
    top: 95%;
    background-color: var(--white);
    border-radius: 12px;
}

.prev-div{
    position: absolute;
    right: 4%;
    top: 95%;
}


.carousel-control-prev .material-symbols-outlined, .carousel-control-next .material-symbols-outlined{
    color: var(--black);
    font-size: 24px;
    background-color: var(--white);
}

.carousel-control-prev:hover .material-symbols-outlined, .carousel-control-next:hover .material-symbols-outlined{
    background-color: var(--yellow);
    transition: 0.5s;
}


.hero-img-wrapper{
    position: absolute;
    right: 0;
    top: 10%;
}

.hero-img-wrapper img{
    width: 92%;
    border-radius: 6px;
}


                           /*--------------main-------------*/




/*-----------PRODUCT-------------*/

.product-heading{
    padding-left: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product-carousel .owl-stage-outer{
    padding-top: 5px;
}

.product-heading h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.owl-theme .owl-dots {
    display: none;
}

.product-carousel .owl-item{
    padding: 8px;
}

button.owl-prev{
    font-size: 20px !important;
    opacity: 1 !important;
    position: absolute;
    top: -30%;
    right: 3%;
    width: 25px;
    background-color: var(--light-gray) !important;
}

button.owl-prev:hover span{
    color: var(--black) !important;
    transition: 0.5s;
}

button.owl-next{
    display: block !important;
    font-size: 20px !important;
    opacity: 1 !important;
    position: absolute !important;
    top: -30%;
    right: 8px;
    width: 25px;
    background-color: var(--light-gray) !important;
}

button.owl-next:hover span{
    color: var(--black) !important;
    transition: 0.5s;
}

.product-carousel .item{
    background-color: var(--light-gray);
    border-radius: 6px;
}

.product-carousel .item h6{
    padding: 25px 0;
    font-size: 17px;
    font-weight: 600;
}

.product-carousel .item a{
    text-decoration: none;
    color: var(--black);
}

.product-carousel .item a:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.product-carousel .item:hover{
    background-color: var(--white);
    box-shadow: 0 1.5rem 2rem 0 hsla(225,2%,52%,.15);
    transition: 0.5s;
}

.product-carousel .item h6{
    padding: 25px 0;
    font-size: 17px;
    font-weight: 600;
}

/*---------------Brand----------------*/

.brand-carousel .owl-stage-outer{
    padding-top: 10px;
    padding-left: 10px;
}

.brand-carousel .item img{
    width: 97%;
}

.brand-carousel .item a{
    text-decoration: none;
}

.brand-carousel .item h6{
    color: var(--darker-gray);
    font-weight: 600;
}

.brand-carousel .item h5{
    color: var(--black);
    font-weight: 600;
}

.brand-carousel .item h5:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.brand-carousel .owl-prev{
    font-size: 20px !important;
    opacity: 1 !important;
    position: absolute;
    top: -22%;
    right: 3%;
    width: 25px;
    background-color: var(--light-gray) !important;
}


.brand-carousel .owl-next{
    display: block !important;
    font-size: 20px !important;
    opacity: 1 !important;
    position: absolute !important;
    top: -22%;
    right: 8px;
    width: 25px;
    background-color: var(--light-gray) !important;
}


/*---------Saving Products Category--------*/

.product-countdown{
    align-items: center;
}

.saving-products-category .product-countdown h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.product-countdown a{
    font-size: 15px;
    text-decoration: none;
    color: var(--darkest-gray);
    display: flex;
    align-items: center;
}

.product-countdown .offer-class{
    padding: 0 30px;
}

#countdown {
    font-size: 15px; 
    font-weight: 600;
    background-color: var(--maroon); 
    color: var(--white);
    padding: 5px 10px; 
    border-radius: 3px;
    width: fit-content;
    block-size: fit-content;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px; 
}

.expire{
    font-weight: 500;
}

.product-countdown a:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.saving-carousel .item .hover-div{
    border: solid;
    border-color: var(--gray-gray);
    border-width: 1px 0 1px 1px;
}


.item-pic{
    position: relative;
}

.item-pic img{
    padding: 12px 18px;
}

.item-pic .ribbon{
    position: absolute;
    background-color: var(--orange);
    color: var(--white);
    top: 5%;
    left: 14%;
    font-weight: 600;
    border-radius: 3px;
    padding: 0 5px;
}

.item-pic .green-ribbon{
    position: absolute;
    background-color: var(--green);
    color: var(--white);
    top: 5%;
    left: 14%;
    font-weight: 600;
    border-radius: 3px;
    padding: 0 8px;
}


.item-pic .emotion-loop{
    position: absolute;
    top: 10px;
    right: 15px;
    opacity: 0;
}

.item-pic .emotion-loop a{
    text-decoration: none;
    color: var(--yellow);
    display: block;
    padding: 2px;
}

.item-pic .emotion-loop a span{
    font-size: 18px;
}

.item-pic .emotion-loop:hover{
    opacity: 1;
    transition: 0.3s ease;
}

.item-content{
    padding: 12px 18px;
}

.item-content .item-heading a{
    text-decoration: none;
    color: var(--black);
}

.item-content .item-heading a h6{
    font-size: 15px;
    font-weight: 600;
}

.item-content .item-heading a span{
    font-size: 15px;
    color: var(--blue);
}

.item-content .item-heading a span:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.item-content .item-heading a h6:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.item-content .item-rating ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.item-content .item-rating ul li i{
    font-size: 10px;
    color: var(--cream);
}

.item-content .item-rating ul li i.filled{
    font-size: 10px;
    color: var(--yellow);
}

.item-content .item-rating .price{
    display: flex;
}

.item-content .item-rating .price h6{
    color: var(--maroon);
    font-weight: 600;
    margin: 0;
}

.item-content .item-rating .og-price h6{
    color: var(--green);
    font-weight: 600;
    margin: 0;
}

.item-content .item-rating .price span{
    text-decoration: line-through;
    color: var(--grey);
    padding-left: 5px;
}

.item-content .item-rating .sold .bar{
    width: 95%;
    height: 10px;
    background-color: var(--bar-grey);
    position: relative;
}

.item-content .item-rating .sold .bar .bar-overlay{
    position: absolute;
    right: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--yellow);
}

.item-content .item-rating .sold h6{
    color: var(--black);
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
}

.item-bottom{
    padding: 12px 18px;
    border: solid;
    border-color: var(--gray-gray);
    border-width: 0 1px 1px 1px;
    opacity: 0;
}

 .cart-box {
    display: inline-block;
    border: 1px solid var(--dark-gray);
    padding: 3px 8px;
    text-align: center;
    border-radius: 3px;
}

.cart-box span{
    font-size: 16px;
    font-weight: 600;
}
.cart-button {
    font-size: 22px;
    cursor: pointer;
    padding: 0 12px;
    border: 0px solid;
    background-color: var(--white);
    color: var(--darker-gray);
}

.add-cart-button{
    padding: 12px 11px 5px 11px;
    background-color: var(--yellow);
    border-radius: 3px;
    align-items: normal;
    justify-content: center;
    cursor: pointer;
    
}

.add-cart-button .material-symbols-outlined{
    font-size: 15px;
    padding-right: 6px;
}

.add-cart-button h6{
    font-size: 16px;
    font-weight: 600;
}

.saving-carousel .item:hover .hover-div{
    border-width: 1px 0 0 1px;
}

.saving-carousel .item:hover .item-bottom{
    opacity: 1;
    transition: 0.5s;
}

.saving-carousel .item:hover .emotion-loop{
    opacity: 1;
    transition: 0.5s;
}

.saving-carousel .owl-prev{
    font-size: 20px !important;
    opacity: 1 !important;
    position: absolute;
    top: -12%;
    right: 3%;
    width: 25px;
    background-color: var(--light-gray) !important;
}


.saving-carousel .owl-next{
    display: block !important;
    font-size: 20px !important;
    opacity: 1 !important;
    position: absolute !important;
    top: -12%;
    right: 8px;
    width: 25px;
    background-color: var(--light-gray) !important;
}


/*---------Health Blog--------*/

.health-blog {
    background-color: var(--bg-grey);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.health-heading {
    justify-content: space-between;
    align-items: center;
}

.health-heading h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.health-heading .offer-class a {
    font-size: 14px;
    text-decoration: none;
    color: var(--darkest-gray);
    display: flex;
    align-items: center;
}

.health-heading .offer-class a:hover {
    color: var(--yellow);
    transition: 0.3s;
}

.health-content {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
}

.images-content {
    width: 100%;
    display: flex;
    padding: 20px 5px;
}

.health-img {
    padding-left: 18px;
    padding-right: 18px;
    overflow: hidden; 
}

.img-border {
    border-right: 1px solid #eee;
}

.health-img a img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.health-inner-content .top{
    padding-top: 15px;
    padding-bottom: 10px;
}

.health-inner-content .top a:hover{
    color: var(--yellow);
    transition: 0.3s;
}

.health-inner-content span{
    font-size: 14px;
}

.health-inner-content span a{
    text-decoration: none;
    color: var(--black);
}

.health-inner-content .bold{
    font-weight: 600;
}

.health-inner-content .bottom h4{
    font-size: 22px;
    font-weight: 600;
}

.health-inner-content .bottom h4 a{
    color: var(--black);
    text-decoration: none;
}

.health-inner-content .bottom h4 a:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.app-links{
    background-color: #e4eaee;
    border-radius: 10px;
    height: 100%;
    position: relative;
}

.app-links img{
    width: 100%;
}

.inner-app-links h4{
    font-size: 22px;
    font-weight: 600;
}

.inner-app-links p{
    justify-content: center;
    font-size: 14px;
}

.inner-app-links{
    position: absolute;
    top: 10%;
    left: 10%;
}

.app-imgs{
    position: absolute;
    top: 25%;
    left: 5%;
}

.app-imgs ul{
    list-style-type: none;
    display: flex;
}

.app-imgs ul li{
    margin: 10px;
}

.app-imgs ul li img{
    width: 90%;
}

/*-----------Footer-------------*/

.services img{
    height: 40px;
    max-width: 100%;
    margin-top: 8px;
}

.services div{
    margin-left: 10px;
    max-width: 100%;
}

.services div h5{
    font-size: 17px;
    font-weight: 600;
}

.footer-links h5{
    font-weight: 600;
}

.footer-links p{
    font-size: 15px;
    color: var(--footer-text);
}

.footer-links ul{
    list-style-type: none;
    padding-left: 0;
    color: var(--footer-text);
}

.footer-links ul li span{
    font-size: 15px;
}

.footer-links ul li span.material-symbols-outlined{
    font-size: 22px;
    margin-right: 5px;
}

.footer-links ul li span.txt a{
    text-decoration: none;
    color: var(--footer-text);
    font-weight: 600;
}

.footer-links ul li span.txt a:hover{
    color: var(--yellow);
    transition: 0.5s;
}

.footer-links ul li a{
    text-decoration: none;
    color: var(--footer-text);
}

.footer-links ul li a:hover{
    color: var(--yellow);
    transition: 0.3s;
}

.footer-links ul li{
    padding: 6px 0;
    font-size: 15px;
}

.footer-add-links{
    font-size: 14px;
    color: var(--footer-text);
}

.footer-add-links a{
    text-decoration: none;
    color: var(--footer-text);
    
}

.footer-add-links a.aft-need::after{
    content: "|";
    margin: 0 10px;
}

.footer-add-links a:hover{
    color: var(--yellow);
    transition: 0.3s;
}

.copyright{
    font-size: 14px;
    color: var(--footer-text);
}

.footer-paymnets img{
    max-width: 100%;
    max-height: 30px;
}

.footer-socials p{
    font-size: 14px;
    display: inline block;
    color: var(--footer-text);
}

.footer-socials ul{
    list-style-type: none;
    display: flex;
}

.footer-socials ul li{
    padding: 0 3px;
}

.footer-socials ul li a img{
    background-color: var(--yellow);
    max-width: 100%;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}


/**************************************************************************************************/

.border-col{
    border-left: 1px solid var(--cream);
}

.product-d-main{
    background-color: var(--light-gray);
}

.side-draggable div img{
    max-height: 100px;
    border: 1px solid var(--border-clr);
    margin: 10px 0;
}


.main-product{
    margin: 0 20px;
    height: 100%;
}

.main-product a img{
    width: 350px;
}

.p-heading div ul.p-h-ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.p-heading div ul li a{
    text-decoration: none;
    color: var(--blue)
}


.p-heading div ul li i{
    font-size: 9px;
    color: var(--cream);
    padding-bottom: 7px;
}

.p-heading div ul li i.filled{
    color: var(--yellow);
}

.p-detail{
    padding-top: 20px;
    border-top: 1px solid var(--border-clr);
    display: flex;
    align-items: center;
}

.p-detail h6{
    color: var(--maroon);
    margin: 0;
    font-weight: 600;
    font-size: 25px;
}

.p-detail span{
    text-decoration: line-through;
    color: var(--grey);
    padding-left: 10px;
    font-size: 18px;
}

.p-description a{
    text-decoration: none;
    color: var(--blue);
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px;
}

.p-description ul li{
    font-size: 14px;
    padding: 2px 0;
}

.p-availability{
    background-color: #ebfae9;
    border: 1px solid #82d45e;
    border-radius: 5px;
    margin: 14px 0 20px;
    padding: 7px 15px;
    display: inline-block;
}

.p-availability span{
    font-size: 15px;
}

.p-a-bold{
    font-weight: 600;
    color: #26901b;
    padding-left: 2px;
}

.p-weight p{
   font-size: 15px;
}

.p-weight div{
    padding: 7px 12px;
    border: 1px solid var(--yellow);
    display: inline-block;
}

.p-quantity p{
    font-size: 15px;
}

.p-q-inner{
    align-items: center;
}


.p-q-inner .cart-box{
    padding: 6px 8px;
}

.p-q-inner .add-cart-button {
    height: max-content;
    padding-top: 13px;
    margin-left: 4px;
}

.p-q-inner .buy-button{
    color: var(--white);
    background-color: var(--black);
    padding-right: 13px;
    padding-left: 13px;
}

.p-feeling{
    display: flex;
}

.p-feeling a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--darkest-gray);
}

.p-links{
    border-top: 1px solid var(--border-clr);
}

.p-links span{
    font-size: 14px;
}

.p-links span.g-col{
    color: var(--dark-gray);
}

.p-links span a{
    text-decoration: none;
    color: var(--blue);
}

.s-links{
    font-size: 11px;
}

.s-links ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.s-links ul li{
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

.s-links ul li.fb{
    background-color: #4267b2;
}

.s-links ul li.twt{
    background-color: #3eb0ff;
}

.s-links ul li.pin{
    background-color: #b10c0c;
}

.s-links ul li.ld{
    background-color: #0271ae;
}

.s-links ul li a{
    text-decoration: none;
    color: var(--white);
}

.b-s{
    border-top: 1px solid var(--border-clr);
}

.p-delivery span.txt{
    font-size: 15px;
    font-weight: 600;
}

.p-delivery h5{
    font-size: 14px;
    padding-top: 8px;
}

.p-delivery a{
    text-decoration: none;
    color: var(--black);
}

.p-desc{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 40px;
    padding: 22px 25px;
    position: relative;
}

.p-desc a.y-link{
    color: var(--white);
    background-color: var(--yellow);
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    position: relative;
    text-align: left;
    text-transform: inherit;
    border-radius: 0;
    text-decoration: none;
}

.p-desc a.g-link{
    color: var(--black);
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    position: relative;
    text-align: left;
    text-transform: inherit;
    border-radius: 0;
    text-decoration: none;
}

.p-desc a.b-link{
    border-bottom: 1px solid #e1e1e1;
}

.p-content p{
    font-size: 14px;
}


/**************************************************************************************************/

.contact-info .row .contact-inner{
    border-right: 1px solid var(--dark-gray);
}
.contact-info div h4{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 20px;
}

.contact-info div h5{
    font-size: 17px;
    font-weight: 600;
    padding: 15px 0;
}

.contact-info div h6{
    font-size: 14px;
    font-weight: 600;
    color: var(--darker-gray);
    padding: 10px 0;
}

.contact-info div ul{
    list-style-type: none;
    padding-left: 0;
    align-items: center;
}

.contact-info div ul li a{
    text-decoration: none;
    color: var(--black);
}

.contact-info div ul li{
    padding-right: 10px;
}

.contact-info div ul li a i{
    font-size: 18px;
}

.contact-info div ul li a:hover{
    color: var(--yellow);
    transition: 0.3s;
}

.map-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;  
    max-width: 600px;
    margin: 0 auto;
}

.map-form .form-group {
    margin-bottom: 15px;
}

.map-form {
    max-width: 600px; 
    margin: 0 auto; 
}

.map-form .p-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-form .p-info .form-group {
    flex: 1;
}

.map-form #name,
#email {
    width: 99%; 
}

.map-form input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.map-form input[type="submit"]{
    background-color: var(--yellow);
    padding: 10 20px;
    border: 0px;
    border-radius: 3px;
    margin-top: 20px;
}

::placeholder{
    color: var(--dark-gray);
}


/**************************************************************************************************/

@media (min-width: 768px){

.offset-md-3 {
    margin-left: 12%;
}
}

@media only screen and (max-width: 1199px) {
   
    .header{
        display: none !important;
    }

    .secondary-nav{
        display: none !important;
    }

    .header-2{
        display: block !important;
        
    }

   

    .carousel-item img{
        width: 90% !important;
        
    }

    

    .hero-img-wrapper img{
        width: 85%;
    }

    .next-div{
        left: 81%;
        top: 95%;
    }

    .prev-div{
        left: 85%;
    }
  }

  @media only screen and (max-width: 991px){

    .carousel-item img{
        width: 88% !important;
        height: 370px !important;
    }


    .hero-img-wrapper{
        float: right;
    }

    .hero-img-wrapper img{
        width: 83%;
        height: 370px !important;
    }

    .next-div{
        left: 79%;
        top: 95%;
    }

    .prev-div{
        left: 83%;
    }

  }

  @media only screen and (max-width: 899px){

    .hero-pic{
        height: 680px !important;
    }

    .carousel-item img{
        width: 90% !important;
        height: 300px !important;
    }
    .carousel-wrapper{
        position: absolute;
        top: 5%;
        right: 0;
        left: 10%;
        bottom: 10%;
    }

    .hero-img-wrapper img{
        width: 90%;
        height: 300px !important;
    }

    .hero-img-wrapper{
        position: absolute;
        top:52%;
        right: 0;
        left: 10%
    }

    .next-div{
        left: 77%;
        top: 93%;
    }

    .prev-div{
        left: 82%;
        top: 93%
    }

  }